page-perfil-grupo {
    .toolbar-background {
        background-color:#f8c300;
    }
  
    .content{
        background:#f9f5e3;
    }

    .card{
        background:#f9f5e3;
    }

    h4{
        background:#f9f5e3;
    }
}
