page-config {
	a {
		text-decoration: none;
	}
	.toolbar-background {
		background-color: #f9f5e3;
	}
	.content {
		background: #f9f5e3;
	}
	#fonte {
		color: black;
	}
	#fonteSair{
		color: #ab09aa;
	}
	.botao {
		border: 1px solid #f53d3d;
	}
	#label {
		font-size: 0.75em;
	}
	#image-cleo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}